header {
  background-image: url("https://surfthecode.github.io/responsive-website-clone/img/mobile-bmw-ix3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
