.sidebar {
  display: none;
  flex-direction: column;
  color: var(--foreground);
  background-color: var(--background);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1.5rem 5rem 2.5rem 5rem;
}

.sidebar-top-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  width: 100%;
  position: absolute;
  left: 0;
  height: 3.5rem;
  padding-right: 8rem;
  padding-top: 1.9rem;
  padding-bottom: 3rem;
}

.hamburger-menu:has(input:checked) + .sidebar {
  display: flex;
}

.hamburger-menu:has(input:checked) + .sidebar > .sidebar-top-links {
  border-bottom: 0.1rem solid #6f6f6f;
}

.hamburger-menu:has(input:checked) + .sidebar > .sidebar-links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bmw-logo-sidebar {
  position: absolute;
  left: 3rem;
}

.sidebar-links {
  padding-top: 4.5rem;
}

.sidebar-links a {
  margin-bottom: 3rem;
}
